<h1>Edit your Profile</h1>

<%=form_with scope: @user, url: user_path, method: "put" do |f|%>
	First Name: <%=f.text_field :first_name%><br/>
	Last Name: <%=f.text_field :last_name%><br/>
	Email: <%=f.text_field :email%><br/>
	<%=f.submit%>
<%end%>
